flows.json
[{"id":"c7403a70.ac84f8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"adc8875b.747d98","type":"switch","z":"c7403a70.ac84f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":180,"wires":[["6d99ee95.97852"],["f23be0c0.738f3"]]},{"id":"6d99ee95.97852","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/x_ccw.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":800,"y":100,"wires":[[],[],[]]},{"id":"f23be0c0.738f3","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/x_stop.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":790,"y":160,"wires":[[],[],[]]},{"id":"4a193389.e055ac","type":"ui_template","z":"c7403a70.ac84f8","group":"f18945bf.272228","name":"X軸（左）","order":12,"width":2,"height":2,"format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\np{\n    font-size: 40px;\n}\n</style>\n<div class=\"momentary1\">\n   <md-button style=\"width:100%; height:102px; margin: 0px\"><p>左</p></md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary1').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary1').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":130,"y":260,"wires":[["6128c1a5.d41ad"]]},{"id":"e5e81a2.704f4e8","type":"ui_template","z":"c7403a70.ac84f8","group":"f18945bf.272228","name":"映像配信","order":3,"width":15,"height":11,"format":"<img src=http://192.168.0.212:8080/?action=stream>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":120,"y":80,"wires":[[]]},{"id":"6128c1a5.d41ad","type":"switch","z":"c7403a70.ac84f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":260,"wires":[["637b0b76.d38a24"],["4c398ab6.b206c4"]]},{"id":"637b0b76.d38a24","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/x_cw.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":800,"y":240,"wires":[[],[],[]]},{"id":"3d7f5dec.5d0812","type":"ui_template","z":"c7403a70.ac84f8","group":"f18945bf.272228","name":"X軸（右）","order":13,"width":2,"height":2,"format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\np{\n    font-size: 40px;\n}\n</style>\n<div class=\"momentary2\">\n   <md-button style=\"width:100%; height:102px; margin: 0px\"><p>右</p></md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary2').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary2').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":130,"y":160,"wires":[["adc8875b.747d98"]]},{"id":"40ababe.7121d54","type":"switch","z":"c7403a70.ac84f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":420,"wires":[["5f270023.0b5ab"],["5c16660f.1bcbb8"]]},{"id":"5f270023.0b5ab","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/y_ccw.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":380,"wires":[[],[],[]]},{"id":"5c16660f.1bcbb8","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/y_stop.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":460,"wires":[[],[],[]]},{"id":"220d7243.561e4e","type":"ui_template","z":"c7403a70.ac84f8","group":"f18945bf.272228","name":"Z軸（上）","order":28,"width":2,"height":2,"format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\np{\n    font-size: 40px;\n}\n</style>\n<div class=\"momentary3\">\n   <md-button style=\"width:100%; height:102px; margin: 0px\"><p>上</p></md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary3').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary3').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":110,"y":860,"wires":[["78adc1d9.4bb0f"]]},{"id":"99319df3.157fe","type":"switch","z":"c7403a70.ac84f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":560,"wires":[["e9988d6b.2157d"],["4ceae479.3aae2c"]]},{"id":"e9988d6b.2157d","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/y_cw.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":540,"wires":[[],[],[]]},{"id":"4ceae479.3aae2c","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/y_stop.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":620,"wires":[[],[],[]]},{"id":"5664bde6.d6a7f4","type":"ui_template","z":"c7403a70.ac84f8","group":"f18945bf.272228","name":"Z軸（下）","order":27,"width":2,"height":2,"format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\np{\n    font-size: 40px;\n}\n</style>\n<div class=\"momentary4\">\n   <md-button style=\"width:100%; height:102px; margin: 0px\"><p>下</p></md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary4').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary4').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":110,"y":720,"wires":[["96a18d3b.319e9"]]},{"id":"96a18d3b.319e9","type":"switch","z":"c7403a70.ac84f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":720,"wires":[["718d5dbc.539f04"],["cc4ffc56.fa6eb"]]},{"id":"718d5dbc.539f04","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/z_ccw.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":700,"wires":[[],[],[]]},{"id":"cc4ffc56.fa6eb","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/z_stop.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":780,"wires":[[],[],[]]},{"id":"bf69c605.9708a8","type":"ui_template","z":"c7403a70.ac84f8","group":"f18945bf.272228","name":"Y軸（奥）","order":5,"width":2,"height":2,"format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\np{\n    font-size: 40px;\n}\n</style>\n<div class=\"momentary5\">\n   <md-button style=\"width:100%; height:102px; margin: 0px\"><p>奥</p></md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary5').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary5').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":110,"y":560,"wires":[["99319df3.157fe"]]},{"id":"78adc1d9.4bb0f","type":"switch","z":"c7403a70.ac84f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":860,"wires":[["e0ec7c65.c2415"],["e130aef3.018df"]]},{"id":"e0ec7c65.c2415","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/z_cw.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":860,"wires":[[],[],[]]},{"id":"e130aef3.018df","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/z_stop.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":920,"wires":[[],[],[]]},{"id":"3c0a1e7c.718e52","type":"ui_template","z":"c7403a70.ac84f8","group":"f18945bf.272228","name":"Y軸（手前）","order":20,"width":2,"height":2,"format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\np{\n    font-size: 40px;\n}\n</style>\n<div class=\"momentary6\">\n   <md-button style=\"width:100%; height:102px; margin: 0px\"><p>手前</p></md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary6').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary6').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":110,"y":400,"wires":[["40ababe.7121d54"]]},{"id":"4c398ab6.b206c4","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/x_stop.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":790,"y":300,"wires":[[],[],[]]},{"id":"7544a246.b0f77c","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/close.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":1020,"wires":[[],[],[]]},{"id":"53288df5.148214","type":"exec","z":"c7403a70.ac84f8","command":"sudo python /home/pi/Desktop/SteppingMotor_Control/open.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":1100,"wires":[[],[],[]]},{"id":"4413907e.b71a8","type":"ui_template","z":"c7403a70.ac84f8","group":"f18945bf.272228","name":"掴む","order":36,"width":2,"height":2,"format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\np{\n    font-size: 40px;\n}\n</style>\n<div class=\"momentary13\">\n   <md-button style=\"width:100%; height:102px; margin: 0px\"><p>掴む</p></md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary13').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary13').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":90,"y":1000,"wires":[["7544a246.b0f77c"]]},{"id":"b03442fe.95a12","type":"ui_template","z":"c7403a70.ac84f8","group":"f18945bf.272228","name":"離す","order":35,"width":2,"height":2,"format":"<style>\n.nr-dashboard-template {\n    padding: 0px;\n}\np{\n    font-size: 40px;\n}\n</style>\n<div class=\"momentary12\">\n   <md-button style=\"width:100%; height:102px; margin: 0px\"><p>離す</p></md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary12').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary12').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":90,"y":1100,"wires":[["53288df5.148214"]]},{"id":"f18945bf.272228","type":"ui_group","name":"","tab":"47f0556b.db072c","order":1,"disp":true,"width":24,"collapse":false,"className":""},{"id":"47f0556b.db072c","type":"ui_tab","name":"ライトカフェ","icon":"dashboard","disabled":false,"hidden":false}]